app.env
inventory.yaml

# ansible-st2
stackstorm.yml
roles/
app/

# Terraform
.terraform/
.terraform.lock.hcl

provider.tf
*.tfvars

# Testing
local.sh
*testing*

# Security
*.ssh*

# Github Action
*_generated_*

# BitOps
bitops.config.yaml