app.env
inventory.yaml

# ansible-st2
stackstorm.yml
roles/
app/

# Terraform
.terraform/
.terraform.lock.hcl

provider.tf
*.tfvars

# Testing
local.sh

# Security
*.ssh*

# Github Action
00_create_*
00_generated_*

.vscode